<div class="updateMaterial">
<div class="container">
  <div class="row">
    <div class="col-md-7 mrgnbtm">
      <h2>Create User</h2>
      <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="materialCode">Material Code</label>
            <input type="text" class="form-control" formControlName="materialCode" id="materialCode"  placeholder="Material Code">
          </div>
          <div class="form-group col-md-6">
            <label for="materialName">Last Name</label>
            <input type="text" class="form-control" formControlName="materialName" id="materialName" placeholder="Material Name">
          </div>
        </div>

        <button type="submit" [disabled]="!materialForm.valid" class="btn btn-danger">Update</button>
      </form>

    </div>
    <div *ngIf="operationStatusMessage">
<p>{{operationStatusMessage}}</p>
    </div>
  </div>
