<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]="generalNamesInSelectedLanguage.closeButtonDescription">x</button>
  <h2>{{userNamesInSelectedLanguage.changePassword}}</h2>
  <p>{{userNamesInSelectedLanguage.fullName + ':' +  userFulname}}</p>
  <p>{{userNamesInSelectedLanguage.email + ':' + userEmail }}</p>
  <p>{{userNamesInSelectedLanguage.status + ':' +  userStatus }}</p>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-md-6">
          <label class="label" for="password">{{userNamesInSelectedLanguage.password}}</label>
          <input type="password" class="form-control" formControlName="password" id="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="password.errors.required">
              {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="password.errors.minlength">
              {{userNamesInSelectedLanguage.passwordMustContain8Characters}}
            </div>

            <div class="validatorInfo" *ngIf="password.hasError('hasNumber')">
              {{userNamesInSelectedLanguage.passwordMustContain2Digest}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasCapitalCase')">
              {{userNamesInSelectedLanguage.passwordMustContain1CapitalLetter}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasSmallCase')">
              {{userNamesInSelectedLanguage.passwordMustContain1smallLetter}}
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="confirmPassword">{{userNamesInSelectedLanguage.repeatPassword}}</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="confirmPassword.errors.required">
              {{userNamesInSelectedLanguage.repeatingPasswordIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="userForm.errors?.NoPassswordMatch">
              {{userNamesInSelectedLanguage.noMatchBetweenPasswords}}
            </div>

          </div>

        </div>


      </div>
    <div class="addButon">
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">{{generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="operationStatusMessage">
    <textarea>{{operationStatusMessage}}</textarea>
  </div>
</div>







