<div id="mainCointener">
  <div id="drawingAndTableContainer" #drawingAndTableContainer>
  <div id="drawingContainer" #drawingContainer>
    <!--[style.background-image]="'url('+bgImageVariable+')'"-->
    <img [src]="bgImageVariable" alt="">
  </div>
    <div >
      <app-product-table-form ></app-product-table-form>
    </div>


</div>
  <div id="createFormContainer">
    <p> utwórz wymiar</p>
<form [formGroup]="dimensionRoleForm">
    <div class="form-group">
      <p>Wybierz role wymiaru:</p>

      <input type="radio"  formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleFirstIndexDimension" [value]="dimensionRoleFirstIndex"
      >
      <label  for="dimensionRoleFirstIndexDimension">{{this.dimensionRoleFirstIndexDimensionDescription}}</label>
    </div>
    <div class="form-group">


      <input type="radio"  formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleSecondIndexDimension" [value]="dimensionRoleSecondIndex"
      >
      <label  for="dimensionRoleSecondIndexDimension">{{this.dimensionRoleSecondIndexDimensionDescription}}</label>
    </div>
    <div class="form-group">


      <input type="radio"  formControlName="dimensionRole" name="dimensionRole" id="dimensionRoleNoIndexDimension" [value]="dimensionRoleNoIndex"
      >
      <label  for="dimensionRoleNoIndexDimension">{{this.dimensionRoleNoIndexDimensionDescription}}</label>
    </div>
</form>
    <form [formGroup]="createDimensionForm" (ngSubmit)="onSubmitForInputCreating()">
      <div class="row">
        <div *ngIf="dimensionRole.value === dimensionRoleFirstIndex" class="form-group col-md-6">
          <label class="label" for="firstIndexDimension">Wybierz z listy nazwę wymiaru bedącego pierwszym wymiarem indeksu</label>
          <select  class="form-control" formControlName="dimensionId" id="firstIndexDimension" #dimensionIdSelect>
            <option [ngValue]="null" disabled> Wybierz Kod Wymiaru</option>
            <option *ngFor="let code of allFirstIndexDimensionCodes" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode +'-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>

          </div>

          <div *ngIf="dimensionRole.value === dimensionRoleSecondIndex">
          <label class="label" for="secondIndexDimension">Wybierz z listy nazwę wymiaru bedącego drugim wymiarem indeksu</label>
          <select  class="form-control" formControlName="dimensionId" id="secondIndexDimension" #dimensionIdSelect>
            <option [ngValue]="null" disabled> Wybierz Kod Wymiaru</option>
            <option *ngFor="let code of allSecondIndexDimensionCOde" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode +'-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>
          </div>
          <div *ngIf="dimensionRole.value === dimensionRoleNoIndex">
          <label class="label" for="noIndexDimension">Wybierz z listy nazwę wymiaru, który nie wchodzi do indeksu</label>
          <select  class="form-control" formControlName="dimensionId" id="noIndexDimension" #dimensionIdSelect>
            <option [ngValue]="null" disabled> Wybierz Kod Wymiaru</option>
            <option *ngFor="let code of allNonIndexDimensionCodes" [ngValue]="code.dimensionCode">
              {{ code.dimensionCode +'-' + code.localizedDimensionName.nameInThisLanguage}}
            </option>
          </select>
          </div>

          <div class="addButon">
            <button type="submit" [disabled]="createDimensionForm.valid" class="btn btn-danger">Utwórz</button>
          </div>
        </div>
    </form>

  </div>
  <button class="saveButton" (click)="saveProductInDatabas()">Dodaj produkt </button>
 <!--<div >
    <button type="button" (click)="addNewClicked = true; newDimension = null;" >Dodaj Nowy kod wymiaru</button>
    <div *ngIf="addNewClicked">
      <app-create-dimension-code (createdDimensionEmiter)="onNewProductCreated($event)"></app-create-dimension-code>
    </div>
  </div>-->

  <div *ngIf="operationFailerStatusMessage" class="alert-danger">
    <p>{{operationFailerStatusMessage}}</p>
  </div>
  <div *ngIf="operationSuccessStatusMessage" class="alert-success">
    <p>{{operationSuccessStatusMessage}}</p>
  </div>
</div>
