<div id="mainCointener">
  <div id="drawingAndTableContainer" #drawingAndTableContainer>
  <div id="drawingContainer" #drawingContainer>
    <!--[style.background-image]="'url('+bgImageVariable+')'-->


  </div>


  <div id="DrawingDetailTableContainer" #DrawingDetailTableContainer>
    <table id="drawingDetailTable" #drawingDetailTable >
      <tbody>
      <tr>
        <td id="2RowsInOneCell" rowspan="2">
          <div class="form-group" >
            <label for="workingTemperature">Temperatura pracy:</label>
          <input type="text"  formControlName="" id="workingTemperature">
            <p> [oC]</p>
          </div>
          <div class="form-group">
          <label  for="antiElectrostatic">Antyelektrostatczność</label>
          <input type="checkbox"  formControlName="" id="antiElectrostatic">
          </div>




          <div class="form-group">
            <p>Strona pracująca:</p>

          <input type="radio"  formControlName="" name="workingside" id="workingSideInternal"
          >
            <label  for="workingSideInternal">Wewnętrzna</label>
          </div>
          <div class="form-group">


          <input type="radio"  formControlName="" name="workingside" id="workingSideExternal"
          >
            <label  for="workingSideExternal">Zewnętrzna</label>
          </div>

      </td>
      <td class="normalCell">
        <div>
          <p>Nr zapytania: </p> <br>
          <p>kkkkk</p>
        </div>
      </td>

      <td>
        <div>
          <p>Index: </p> <br>
          <p>kkkkk</p>
        </div>
      </td>

      <td>
        <div>
          <p>Opracował: </p> <br>
          <p>kkkkk</p>
        </div>
      </td>
      </tr>
      <tr>
        <td>
          <div>
            <p>Nazwa </p> <br>
            <p>kkkkk</p>
          </div>
        </td>
        <td>
        <div>
          <p>Data: </p> <br>
          <p>kkkkk</p>
        </div>
        </td>

      </tr>
      <tr>

        <td>
          <div>
            <p>Materiał: </p> <br>
            <p>kkkk</p>
          </div>
        </td>

        <td>
          <p>logo</p>
        </td>

      </tr>


      </tbody>


    </table>

  </div>
</div>
  <div id="createFormContainer" (mouseover)="this.getPreviouslyUsedCodes()">
    <p> utwórz wymiar</p>
    <form [formGroup]="createDimensionForm" (ngSubmit)="onSubmitForInputCreating()">
      <div class="row">
        <div class="form-group col-md-6">

          <label class="label" for="dimensionIdSelect">Wybierz z listy nazwę poprzednio używanego kodu wymiaru</label>
          <select  class="form-control" formControlName="dimensionId" id="dimensionIdSelect" #dimensionIdSelect>
            <option [ngValue]="null" disabled> Wybierz Kod Wymiaru</option>
            <option  [ngValue]="null" (click)="this.newDimensionId.setValue(null);">Nie wybrano kodu wymiaru</option>
            <option *ngIf="newDimensionId.value !==null" [ngValue]="newDimensionId.value" >{{newDimensionId.value}}</option>
            <option *ngFor="let code of previouslyUsedUniqueDimensionCodes" [ngValue]="code">
              {{ code}}
            </option>
          </select>
            <div *ngIf="!this.dimensionId.value">
              <label class="label" for="dimensionIdCreate">Dodaj Nowy kod wymiaru</label>
              <input type="text" class="form-control" formControlName="newDimensionId"  id="dimensionIdCreate" placeholder="Nazwa kodu wymiaru">

        </div>
          <div class="form-group col-md-6">
            <p>Wybierz orientacje wymiaru</p>
            <label class="label" for="horizonntal">Orientacja Pozioma</label>
            <input type="radio" class="form-control" name="dimensionOrientation" formControlName="dimensionOrientation"
                   id="horizonntal"
                   placeholder="Kod typu produktu" value="horizontal">

            <label class="label" for="vertical">Orientacja pionowa</label>
            <input type="radio" class="form-control" name="dimensionOrientation" formControlName="dimensionOrientation"
                   id="vertical"
                   placeholder="Kod typu produktu" value="vertical">

            <div *ngIf="dimensionOrientation.invalid && (dimensionOrientation.dirty || dimensionOrientation.touched)"
                 class="alert alert-danger">

              <div class="validatorInfo" *ngIf="dimensionOrientation.errors.required">
                To pole jest wymagane
              </div>

            </div>


          </div>
          <div class="addButon">
            <button type="submit" [disabled]="!createDimensionForm.valid" class="btn btn-danger">Utwórz</button>
          </div>
        </div>
      </div>
    </form>



  </div>
  <button class="saveButton" (click)="saveProductInDatabas()">Dodaj produkt </button>
</div>
