<div *ngIf="this.loggedUserRole && this.loggedUserRole === this.admin">
  <span>
    <a [routerLink]="['/orders']" routerLinkActive="active"> Orders</a>
  <a [routerLink]="['/businessPartners']" routerLinkActive="active"> Partners</a>
  <a [routerLink]="['/materials']" routerLinkActive="active"> Materials</a>
  <a [routerLink]="['/products']" routerLinkActive="active"> Products</a>
     <a [routerLink]="['/users']" routerLinkActive="active"> Users</a>
    <a [routerLink]="['/login']" routerLinkActive="active"> Login</a>
    <a [routerLink]="['/dimensionCodes']" routerLinkActive="active"> Kody Wymiarów</a>
    <a [routerLink] = "['/languages']" routerLinkActive="active"> Języki </a>
  </span>

</div>
<div *ngIf="this.loggedUserRole && this.loggedUserRole === this.editor">
  <span>
     <a [routerLink]="['/orders']" routerLinkActive="active"> Orders</a>
    <a [routerLink]="['/businessPartners']" routerLinkActive="active"> Partners</a>
    <a [routerLink]="['/login']" routerLinkActive="active"> Login</a>
  </span>

</div>
<div *ngIf="this.loggedUserRole && this.loggedUserRole === this.partner">
  <span>
     <a [routerLink]="['/orders']" routerLinkActive="active"> Orders</a>
    <a [routerLink]="['/login']" routerLinkActive="active"> Login</a>
  </span>


</div>

