<div class="createOrUpdateOrder">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='generalNamesInSelectedLanguage.closeButtonDescription'>x</button>
  <h2>{{orderNames.createNewOrder}}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="!updateModeOrPartnerLogged">
      <div *ngIf="partnerConfirmed">
        <p>
          {{generalNamesInSelectedLanguage.code + ': ' + this.selectedPartner.code}} <br>
          {{ orderNames.businessPartnerName + ':' + this.selectedPartner.fulName + ' - ' + this.selectedPartner.businesPartnerCompanyName}}
        </p>
      </div>
      <div *ngIf="!partnerConfirmed">


        <label class="label" for="businessPartner">{{orderNames.businessPartner}}</label>
        <select class="form-control" formControlName="businessPartner" id="businessPartner" #businessPartner>
          <option [ngValue]="null" disabled>-</option>
          <option *ngFor="let partner of allParntersToSelect" [ngValue]="partner">
            {{ partner.code + ' - ' + partner.businesPartnerCompanyName + ' : ' + partner.fulName}}
          </option>
        </select>
        <div *ngIf="type.invalid && (type.dirty || type.touched)"
             class="alert alert-danger">

          <div class="validatorInfo" *ngIf="type.errors.required">
            {{orderNames.choosingOptionFromListIsRequires}}
          </div>
        </div>
      </div>
      <button type="button" class="confirmOrChangeButton"
              (click)="changeOrConfirmPartnerButtonAction();"> {{confirmOrCHangePartnerButtonInfo}}  </button>

      <div *ngIf="!this.partnerConfirmed"
           class="alert alert-danger">

        <div class="validatorInfo">
          {{orderNames.choosingAndConfrimPartnerIsRequired}}
        </div>
      </div>
    </div>

    <div *ngIf="productConfirmed && type.value && top.value && bottom.value">
      <p>
        {{orderNames.productType + ': ' + this.type.value.code + ' - ' + getNameInSelectedLanguage(this.type.value.localizedNames)}}
        <br>
        {{orderNames.productTop + ': ' + this.top.value.code + ' - ' + getNameInSelectedLanguage(this.top.value.localizedNames)}}
        <br>

        {{orderNames.productBottom + ': ' + this.bottom.value.code + ' - ' + getNameInSelectedLanguage(this.bottom.value.localizedNames)}}
        <br>
      </p>
    </div>
    <div *ngIf="!productConfirmed">
      <p>{{orderNames.pressButtonToChooseProductByDrawing}} </p>
      <button type="button"
              (click)="chooseProductByMiniatureButtonAction();"> {{orderNames.chooseProductByDrawingButtonDescription}}</button>
      <p> Lub <br>
        {{orderNames.chooseProductByParameters}}
      </p>
      <label class="label" for="type">{{orderNames.productType}}</label>
      <select class="form-control" formControlName="type" id="type"
              (change)="setTopsAndBottomsToSelectAfterTypeSelected(this.type.value)">
        <option [ngValue]="null" disabled> -</option>
        <option *ngFor="let type of allTypesToSelect" [ngValue]="type">
          {{ type.code + ' - ' + getNameInSelectedLanguage(type.localizedNames) }}
        </option>
      </select>
      <div *ngIf="type.value">
        <label class="label" for="top"> {{orderNames.productTop}}</label>
        <select class="form-control" formControlName="top" id="top">
          <option [ngValue]="null" disabled>{{generalNamesInSelectedLanguage.select +' '+orderNames.productTop}}</option>
          <option *ngFor="let top of allTopsToSelect" [ngValue]="top">
            {{ top.code + ' - ' + getNameInSelectedLanguage(top.localizedNames) }}
          </option>
        </select>
        <label class="label" for="bottom"> {{orderNames.productBottom}}</label>
        <select class="form-control" formControlName="bottom" id="bottom">
          <option [ngValue]="null" disabled>{{generalNamesInSelectedLanguage.select +' '+orderNames.productBottom}}</option>
          <option *ngFor="let bottom of allBotomsToselect" [ngValue]="bottom">
            {{ bottom.code + ' - ' + getNameInSelectedLanguage(bottom.localizedNames) }}
          </option>
        </select>
      </div>
    </div>
    <button type="button" class="confirmOrChangeButton" id="confirmOrchangeProduct"
            (click)="confirmOrchangeProductButtonAction();"> {{confirmOrCHangeProductParmatersButtonInfo}}  </button>
    <div *ngIf="!this.productConfirmed"
         class="alert alert-danger">

      <div class="validatorInfo">
        {{orderNames.choosingAndConfirmProductIsRequired}}
      </div>
    </div>
    <div *ngIf="materialConfirmed && selectedMaterial">
      {{orderNames.productMaterial}}: <br>
      {{generalNamesInSelectedLanguage.code + ': ' + selectedMaterial.materialCode}} <br>
      {{generalNamesInSelectedLanguage.name + ': ' + selectedMaterial.materialName}}
    </div>
    <div *ngIf="!materialConfirmed">
      <label class="label" for="productMaterial">{{generalNamesInSelectedLanguage.select +' '+orderNames.productMaterial}}</label>
      <select class="form-control" formControlName="productMaterial" id="productMaterial">
        <option [ngValue]="null" disabled> -</option>
        <option *ngFor="let material of allMaterialsToSelect" [ngValue]="material">
          {{ material.materialCode + ' - ' + material.materialName }}
        </option>
      </select>
      <div *ngIf="bottom.invalid && (bottom.dirty || bottom.touched)"
           class="alert alert-danger">

        <div class="validatorInfo" *ngIf="bottom.errors.required">
          {{orderNames.choosingOptionFromListIsRequires}}
        </div>
      </div>
    </div>
    <button type="button" class="confirmOrChangeButton"
            (click)="confirmOrChangeMaterialButtonAction();"> {{confirmOrCHangeMaterialButtonInfo}}  </button>
    <div *ngIf="!this.materialConfirmed"
         class="alert alert-danger">

      <div class="validatorInfo">
        {{orderNames.choosingAndConfirmMaterialIsRequired}}
      </div>
    </div>
    <div class="addButon">
      <div *ngIf="operationModeEqualConfirmNewOrUpdate">
        <button type="button" class="confirmOrChangeButton" (click)="seeDrawing();"> {{generalNamesInSelectedLanguage.seeDrawing}}</button>
        <button type="button" class="confirmOrChangeButton" (click)="updateDrawing();"> {{orderNames.changeDrawingParameters}}
        </button>
        <label for="commentToOrder">{{orderNames.yourCommentToOrder}} </label> <br>
        <textarea id="commentToOrder" #commentToOrder>  </textarea>

      </div>
    </div>

    <div class="addButon">
      <button type="submit" [disabled]="this.allowSubmit === false" class="btn btn-danger">{{submitButtonDescription}}
      </button>
    </div>

  </form>
  <div *ngIf="operationFailerStatusMessage" class="alert-danger">
    <p>{{operationFailerStatusMessage}}</p>
  </div>
  <div *ngIf="operationSuccessStatusMessage" class="alert-success">
    <p>{{operationSuccessStatusMessage}}</p>
  </div>

</div>













