<div class="createMaterial">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='"zamknij"'>x</button>
  <h2>Dodaj nowe zamówienie</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col">
      <div *ngIf="!updateModeOrPartnerLogged" class="form-group col-md-6">
        <div *ngIf="partnerConfirmed">
          <p>
            Kod: {{this.selectedPartner.code}} <br>
            Nazwa Partnera Handlowego: {{ this.selectedPartner.fulName + ' - ' + this.selectedPartner.businesPartnerCompanyName}}

          </p>


        </div>
        <div *ngIf="!partnerConfirmed">


          <label class="label" for="businessPartner"> Partner Handlowy</label>
          <select class="form-control" formControlName="businessPartner" id="businessPartner" #businessPartner>
            <option [ngValue]="null" disabled>-</option>
            <option *ngFor="let partner of allParntersToSelect" [ngValue]="partner">
              {{ partner.code + ' - ' + partner.businesPartnerCompanyName + ' : ' + partner.fulName}}
            </option>
          </select>
          <div *ngIf="type.invalid && (type.dirty || type.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="type.errors.required">
              Wybranie opcji z listy jest wymagane.
            </div>
          </div>
        </div>
          <button type="button" class="confirmOrChangeButton"
                  (click)="changeOrConfirmPartnerButtonAction();"> {{confirmOrCHangePartnerButtonInfo}}  </button>

      </div>

      <div class="form-group col-md-6">
        <div *ngIf="productConfirmed && type.value && top.value && bottom.value">
          <p>
            Typ Produktu: {{this.type.value.code + ' - ' + this.type.value.name}} <br>
            Wykończenie Góry: {{this.top.value.code + ' - ' + this.top.value.name}}<br>
            Wykończenie Dna: {{this.bottom.value.code + ' - ' + this.bottom.value.name}} <br>

          </p>


        </div>
        <div *ngIf="!productConfirmed">
          <label class="label" for="type"> Typ Produktu</label>
          <select class="form-control" formControlName="type" id="type" >
            <option [ngValue]="null" disabled> -</option>
            <option *ngFor="let type of allTypesToSelect" [ngValue]="type">
              {{ type.code + ' - ' + type.name }}
            </option>
          </select>
          <div *ngIf="type.invalid && (type.dirty || type.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="type.errors.required">
              Wybranie opcji z listy jest wymagane.
            </div>
          </div>
          <div class="form-group col-md-6" *ngIf="type.value">
            <label class="label" for="top" > Wykończenie góry</label>
            <select class="form-control" formControlName="top" id="top">
              <option [ngValue]="null" disabled>Wybierz wykończenia góry</option>
              <option *ngFor="let top of allTopsToSelect" [ngValue]="top">
                {{ top.code + ' - ' + top.name }}
              </option>
            </select>
            <div *ngIf="top.invalid && (top.dirty || top.touched)"
                 class="alert alert-danger">

              <div class="validatorInfo" *ngIf="top.errors.required">
                Wybranie opcji z listy jest wymagane.
              </div>
            </div>
          </div>
          <div class="form-group col-md-6" *ngIf="type.value">
            <label class="label" for="bottom"> Wykończenie Dna</label>
            <select class="form-control" formControlName="bottom" id="bottom" >
              <option [ngValue]="null" disabled>Wybierz wykończenia dna</option>
              <option *ngFor="let bottom of allBotomsToselect" [ngValue]="bottom">
                {{ bottom.code + ' - ' + bottom.name }}
              </option>
            </select>
            <div *ngIf="bottom.invalid && (bottom.dirty || bottom.touched)"
                 class="alert alert-danger">

              <div class="validatorInfo" *ngIf="bottom.errors.required">
                Wybranie opcji z listy jest wymagane.
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="confirmOrChangeButton" id="confirmOrchangeProduct"
                (click)="confirmOrchangeProductButtonAction();"> {{confirmOrCHangeProductParmatersButtonInfo}}  </button>
      </div>
      <div class="form-group col-md-6" >
        <div *ngIf="materialConfirmed && selectedMaterial">
          Materiał Produktu: <br>
          Kod: {{selectedMaterial.materialCode}} <br>
          Nazwa: {{selectedMaterial.materialName}}
        </div>
        <div *ngIf="!materialConfirmed">
          <label class="label" for="productMaterial">Wybierz Materiał Produktu</label>
          <select class="form-control" formControlName="productMaterial" id="productMaterial">
            <option [ngValue]="null" disabled> -</option>
            <option *ngFor="let material of allMaterialsToSelect" [ngValue]="material">
              {{ material.materialCode + ' - ' + material.materialName }}
            </option>
          </select>
          <div *ngIf="bottom.invalid && (bottom.dirty || bottom.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="bottom.errors.required">
              Wybranie opcji z listy jest wymagane.
            </div>
          </div>
        </div>
        <button type="button" class="confirmOrChangeButton"
                (click)="confirmOrChangeMaterialButtonAction();"> {{confirmOrCHangeMaterialButtonInfo}}  </button>
      </div>
    </div>
    <div class="addButon">
      <div *ngIf="operationModeEqualConfirmNewOrUpdate">
        <p> Zmień wymiary ryunku</p> <br>
        <button type="button" class="confirmOrChangeButton" (click)="seeDrawing();"> Zobacz rysunek</button>
        <button type="button" class="confirmOrChangeButton" (click)="updateDrawing();"> Zmień wymiary produktu</button>
        <label for="commentToOrder">Twoje uwagi do zapytania </label> <br>
        <textarea id="commentToOrder">  </textarea>

      </div>
      <button type="submit" [disabled]="this.allowSubmit === false" class="btn btn-danger">{{submitButtonDescription}}
      </button>
    </div>


  </form>

  <div *ngIf="showoperationStatusMessage">
    <textarea>{{showoperationStatusMessage}}</textarea>
  </div>
</div>













