<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]="generalNamesInSelectedLanguage.closeButtonDescription">x</button>
  <h2>{{userNamesInSelectedLanguage.addNewUser}}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="label" for="fullName" id="materialCodeLabel">{{userNamesInSelectedLanguage.fullName}}</label>
        <input type="text" class="form-control" formControlName="fulName" id="fullName" >
        <div *ngIf="fulName.invalid && (fulName.dirty || fulName.touched)" class="alert alert-danger">
          <div *ngIf="fulName.errors.required">
             {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
          </div>
        </div>
      </div>
        <div class="form-group col-md-6">
          <label class="label" for="email">{{userNamesInSelectedLanguage.email}}</label>
          <input type="text" class="form-control" formControlName="email" id="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

            <div class="validatorInfo" *ngIf="email.errors.required">
              {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="email.errors?.taken">
              {{userNamesInSelectedLanguage.emailIsAlreadyTaken}}
            </div>
            <div class="validatorInfo" *ngIf="email.errors.email">
              {{userNamesInSelectedLanguage.emailMustBeValid}}
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="password">{{userNamesInSelectedLanguage.password}}</label>
          <input type="password" class="form-control" formControlName="password" id="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="password.errors.required">
              {{userNamesInSelectedLanguage.passwordIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="password.errors.minlength">
              {{userNamesInSelectedLanguage.passwordMustContain8Characters}}
            </div>

            <div class="validatorInfo" *ngIf="password.hasError('hasNumber')">
              {{userNamesInSelectedLanguage.passwordMustContain2Digest}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasCapitalCase')">
              {{userNamesInSelectedLanguage.passwordMustContain1CapitalLetter}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasSmallCase')">
              {{userNamesInSelectedLanguage.passwordMustContain1smallLetter}}
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="confirmPassword">{{userNamesInSelectedLanguage.repeatPassword}}</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="confirmPassword.errors.required">
              {{userNamesInSelectedLanguage.repeatingPasswordIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="userForm.errors?.NoPassswordMatch">
              {{userNamesInSelectedLanguage.noMatchBetweenPasswords}}
            </div>

          </div>

        </div>

        <div class="form-group col-md-6">

            <label for="active" class="label">{{userNamesInSelectedLanguage.active}}</label>
            <input type="checkbox" class="form-control" formControlName="active" id="active">

        </div>
        <div class="form-group col-md-6">
            <label for="status" class="label">{{userNamesInSelectedLanguage.active}}</label>
            <select class="form-control" formControlName="isAdmin" id="status" >
              <option id='admin' [ngValue]="true">{{this.admin}}</option>
              <option id='editor' [ngValue]="false">{{this.editor}}</option>

            </select>
          <div *ngIf="isAdmin.invalid && (isAdmin.dirty || isAdmin.touched)"
               class="alert alert-danger">
            <div class="validatorInfo" *ngIf="isAdmin.errors.required">
            {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </div>
          </div>

        </div>
    </div>
    <div class="addButon">
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">{{generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="operationStatusMessage">
    <textarea>{{operationStatusMessage}}</textarea>
  </div>
</div>






