
<div>

  <button (click)="createNewOrder();" >
    {{ createNewRecordDescription }}
  </button>
</div>



<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>
  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="orderTotalNumber" scope="col">{{orderNames.orderNumber}} </th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerCompanyName" scope="col">{{orderNames.businessPartner}}</th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerFulname">{{orderNames.creator}}</th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerEmail">{{generalUserNames.email}}</th>
      <th [appSort]="records" data-order="desc" data-name="index">{{orderNames.index}}</th>
      <th [appSort]="records" data-order="desc" data-name="orderName">{{generalNamesInSelectedLanguage.name}}</th>
      <th [appSort]="records" data-order="desc" data-name="date" data-typ="date">{{orderNames.date}}</th>
      <th>Ilość</th>
    </tr>
    <tr>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="orderTotalNumber" id="serchInNumbers" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerCompanyName" id="serchInPartners" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerFulname" id="serchInPartnerNames" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerEmail" id="serchInEmails" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="index" id="serchInIndex" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="orderName" id="serchInOrderNames" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="dateString" id="serchInDates" [placeholder]="generalNamesInSelectedLanguage.search" /></th>
      <th>{{this.recordNumbers}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.orderTotalNumber}}</td>
      <td>{{record.businessPartnerCompanyName}}</td>
      <td>{{record.businessPartnerFulname}}</td>
      <td>{{record.businessPartnerEmail}}</td>
      <td>{{record.index}}</td>
      <td>{{record.orderName}}</td>
      <td>{{record.dateString}}</td>
      <td>{{this.recordNumbers}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>

        <button class="updateButton" (click)="updateSelectedRecord(record.id);" [title]="updateButtonInfo">u</button>
        <button class="showDrawing" [title]="generalNamesInSelectedLanguage.seeDrawing" (click)="showDrawing(record.id)"> Zobacz Rysunek</button>
        <button class="showOrderHistory" [title]="generalNamesInSelectedLanguage.seeHistory" (click)="showOrderHistory(record.id)">Zobacz Historię</button>
        <button  class="deleteButton" (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(record.id)" [title]="deleteButtonInfo" >x</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>










