<a [routerLink]="['/products/tops']" > Wykończenia góry</a>
<a [routerLink]="['/products/bottoms']" > Wykończenia dna</a>
<a [routerLink]="['/products/types']" > Typy produktów</a>

<!--sss-->

<div>

  <button (click)="createNewOrder();" >
    {{ createNewRecordDescription }}
  </button>
</div>



<div class="materialComponent">

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="orderTotalNumber" scope="col">Nr zapy <br></th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerCompanyName" scope="col">Partner handlowy</th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerFulname">Opracował</th>
      <th [appSort]="records" data-order="desc" data-name="businessPartnerEmail">Email</th>
      <th [appSort]="records" data-order="desc" data-name="index">Index</th>
      <th [appSort]="records" data-order="desc" data-name="orderName">Nazwa</th>
      <th [appSort]="records" data-order="desc" data-name="date" data-typ="date">Data</th>
      <th>Ilość</th>
    </tr>
    <tr>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="orderTotalNumber" id="serchInNumbers" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerCompanyName" id="serchInPartners" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerFulname" id="serchInPartnerNames" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="businessPartnerEmail" id="serchInEmails" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="index" id="serchInIndex" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="orderName" id="serchInOrderNames" placeholder="Wyszukaj" /></th>
      <th><input class="tableSearchInput"  [appSearch]="records" serchedColumn="dateString" id="serchInDates" placeholder="Wyszukaj" /></th>
      <th>{{this.recordNumbers}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.orderTotalNumber}}</td>
      <td>{{record.businessPartnerCompanyName}}</td>
      <td>{{record.businessPartnerFulname}}</td>
      <td>{{record.businessPartnerEmail}}</td>
      <td>{{record.index}}</td>
      <td>{{record.orderName}}</td>
      <td>{{record.dateString}}</td>
      <td>{{this.recordNumbers}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>

        <button class="updateButton" (click)="updateSelectedRecord(record.id);" [title]="updateButtonInfo">u</button>
        <button class="showDrawing" (click)="showDrawing(record.id)"> Zobacz Rysunek</button>
        <button class="showOrderHistory" (click)="showOrderHistory(record.id)">Zobacz Historię</button>
        <button  class="deleteButton" (click)="this.deleteSelectedRecord(record.id)" [title]="deleteButtonInfo" >x</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>










