
<!--sss-->

<div>

  <a  (click)="createNewRecord()" routerLinkActive="active">
    {{ createNewMaterialDescription }}
  </a>
</div>

<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="languageCode" scope="col">{{this.languageCodeDescription}} <br></th>
      <th [appSort]="records" data-order="desc" data-name="languageName" scope="col">{{this.languageNameDescription}}<br></th>
      <th>{{this.languageActiveDescription}}<br></th>
      <th>flaga</th>
      <th>ilość</th>

    </tr>
    <tr>
      <th>
        <input class="tableSearchInput" [appSearch]="records" serchedColumn="languageCode" id="serchInCodes" placeholder="Wyszukaj" />
      </th>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="languageName" id="serchInNames" placeholder="Wyszukaj" /></th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.languageCode}}</td>
      <td>{{record.languageName}}</td>
      <td>  <input class="form-check-input" type = "checkbox" [checked]="record.active" ></td>
      <td> <img class="flagImage" [src]="getFlagUrl(record)"> </td>
      <td>
        <text *ngIf="deleTedRecordMessage">{{deleTedRecordMessage}}</text>
        <br>
        <button (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(record.id)" [title]="deleteButtonInfo" >x</button>
        <button (click)="updateSelectedRecord(record.id);" [title]="updateButtonInfo">u</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>












