
<!--sss-->

<div>

  <a  [routerLink]="['/materials/add']" routerLinkActive="active">
    {{ createNewMaterialDescription }}
  </a>
</div>

<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.materialTableService.selectedId, $event )"> </app-confirm-delete>

<table class="table table-striped border mt-1">
  <thead>
  <tr>
    <th [appSort]="materials" data-order="desc" data-name="materialCode" scope="col">Kod Materiału <br></th>
    <th [appSort]="materials" data-order="desc" data-name="materialName" scope="col">Nazwa Materiału</th>
    <th>ilość</th>

  </tr>
  <tr>
    <th>

      <input class="tableSearchInput"[appSearch]="materials" serchedColumn="materialCode" id="serchInCodes" placeholder="Wyszukaj" />
    </th>
    <th><input class="tableSearchInput" [appSearch]="materials" serchedColumn="materialName" id="serchInNames" placeholder="Wyszukaj" /></th>
  <th>{{this.recordNumbers}}</th>
  </tr>

  </thead>
  <tbody>

  <tr *ngFor="let material of materials">
    <td>{{material.materialCode}}</td>
    <td>{{material.materialName}}</td>
    <td>
      <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
      <br>
      <button (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(material.id)" [title]="deleteButtonInfo" >x</button>
<button (click)="updateSelectedRecord(material.id);" [title]="updateButtonInfo">u</button>
    </td>

  </tr>
  </tbody>
</table>
</div>








