<div id="DrawingDetailTableContainer" #DrawingDetailTableContainer>
  <table id="drawingDetailTable" #drawingDetailTable >
    <tbody>
    <tr>
      <td id="2RowsInOneCell" rowspan="2">
        <form [formGroup]="tableForm">
        <div class="form-group" >
          <label for="workingTemperature">Temperatura pracy:</label>
          <input type="text"  formControlName="workingTemperature" id="workingTemperature">
          <p> [oC]</p>
        </div>
        <div class="form-group">
          <label  for="antiElectrostatic">Antyelektrostatczność</label>
          <input type="checkbox"  formControlName="antiEelectrostatic" id="antiElectrostatic">
        </div>

        <div class="form-group">
          <p>Strona pracująca:</p>

          <input type="radio"  formControlName="workingSide" name="workingSide" id="workingSideInternal" [value]="workingSideInternal"
          >
          <label  for="workingSideInternal">Wewnętrzna</label>
        </div>
        <div class="form-group">


          <input type="radio"  formControlName="workingSide" name="workingSide" id="workingSideExternal" [value]="workingSideExterinal"
          >
          <label  for="workingSideExternal">Zewnętrzna</label>
        </div>
        </form>
      </td>
      <td class="normalCell">
        <div>
          <p>Nr zapytania: </p> <br>
          <p>{{orderTotalNumber}}</p>
        </div>
      </td>

      <td>
        <div>
          <p>Index: </p> <br>
          <p>{{index}}</p>
        </div>
      </td>

      <td>
        <div>
          <p>Opracował: </p> <br>
          <p>{{orderCreator}}</p>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <p>Nazwa </p> <br>
          <p>{{orderName}}</p>
        </div>
      </td>
      <td>
        <div>
          <p>Data: </p> <br>
          <p>{{date}}</p>
        </div>
      </td>

    </tr>
    <tr>

      <td>
        <div>
          <p>Materiał: </p> <br>
          <p>{{materialName +' ' + materialCode}}</p>
        </div>
      </td>

      <td>
        <p>logo</p>
      </td>

    </tr>


    </tbody>


  </table>

</div>
