#mainContainer {

}
#drawingContainer {
  background-image: url('../create-product-drawing/W702L_V_prawie_ostateczna.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 600px;

}

.dimensionInputHorizontal {
  height: 100%;
  position: absolute;
  text-align: center; /* Optional */
  width: 100%;

}
.inputDivHorizontal {
  position: relative;
  width: 60px;
  height: 20px;


}
.dimensionInputVertical {
  height: 100%;
  position: absolute;
  text-align: center; /* Optional */
  width: 100%;
}

.inputDivVertical {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 60px;
}
#tableContainer {

}
#createFormContainer {

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
