<div class="createMaterial">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='"zamknij"'>x</button>
  <h2>Aktualizuj wykończenie góry</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="label" for="name" >Nazwa wykończenia góry</label>
        <input type="text" class="form-control" formControlName="name" id="name"
               placeholder="Nazwa wykończenia góry">
        <div  *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">

          <div class="validatorInfo" *ngIf="name.errors.required">
            To pole jest wymagane.
          </div>

          <div class="has-text-danger" *ngIf="name.errors?.taken">  <!--error name is name of error in async validatod:ValidateMaterialCodeUniqueService-->
            Podana nazwa jest już zajęta
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="code">Kod wykończenia góry</label>
          <input type="text" class="form-control" formControlName="code" id="code"
                 placeholder="Kod wykończenia góry">
          <div *ngIf="code.invalid && (code.dirty || code.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="code.errors.required">
              To pole jest wymagane
            </div>
            <div class="validatorInfo" *ngIf="code.errors?.taken">
              Podana kod jest już zajęty.
            </div>
            <div class="validatorInfo" *ngIf="code.errors.minlength">
              Kod nie może być krótszy niż 1 znak
            </div>
            <div class="validatorInfo" *ngIf="code.errors.maxlength">
              Kod nie może być dłuższy niż 1 znak.
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="topsForThisProductType" >Wybierz wykończenia góry</label>
          <select multiple class="form-control" formControlName="topsForThisProductType" id="topsForThisProductType">
            <option [ngValue]="null" disabled>Wybierz wykończenia góry</option>
            <option *ngFor="let top of allTopsToSelect" [ngValue]="top">
              {{ top.code +'-'+top.name }}
            </option>
          </select>
          <div  *ngIf="topsForThisProductType.invalid && (topsForThisProductType.dirty || topsForThisProductType.touched)"
                class="alert alert-danger">

            <div class="validatorInfo" *ngIf="topsForThisProductType.errors.required">
              Wybranie opcji z listy jest wymagane.
            </div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="label" for="bottomsForThisProductType" >Wybierz wykończenia dna</label>
          <select multiple class="form-control" formControlName="bottomsForThisProductType" id="bottomsForThisProductType">
            <option [ngValue]="null" disabled>Wybierz wykończenia dna</option>
            <option *ngFor="let bottom of allBotomsToselect" [ngValue]="bottom">
              {{ bottom.code +'-'+bottom.name }}
            </option>
          </select>
          <div  *ngIf="bottomsForThisProductType.invalid && (bottomsForThisProductType.dirty || bottomsForThisProductType.touched)"
                class="alert alert-danger">

            <div class="validatorInfo" *ngIf="bottomsForThisProductType.errors.required">
              Wybranie opcji z listy jest wymagane.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="addButon">
      <button type="submit" [disabled]="!form.valid" class="btn btn-danger">Zapisz</button>
    </div>
  </form>

  <div *ngIf="this.operationStatusMessage">
    <textarea>{{this.operationStatusMessage}}</textarea>
  </div>
</div>



















