
<!--sss-->

<div>

  <a  [routerLink]="['/products/types/add']" routerLinkActive="active">
    {{ createNewMaterialDescription }}
  </a>
</div>

<div class="materialComponent">

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="records" data-order="desc" data-name="code" scope="col">Kod typu produktu <br></th>
      <th [appSort]="records" data-order="desc" data-name="localizedNameInSelectedLanguage" scope="col">Nazwa typu producktu</th>
      <th>ilość</th>

    </tr>
    <tr>
      <th>

        <input class="tableSearchInput" [appSearch]="records" serchedColumn="code" id="serchInCodes" placeholder="Wyszukaj" />
      </th>
      <th><input class="tableSearchInput" [appSearch]="records" serchedColumn="localizedNameInSelectedLanguage" id="serchInNames" placeholder="Wyszukaj" /></th>
      <th>{{this.recordNumbers}}</th>
    </tr>

    </thead>
    <tbody>

    <tr *ngFor="let record of records">
      <td>{{record.code}}</td>
      <td>{{record.localizedNameInSelectedLanguage}}</td>
      <td>
        <text *ngIf="deleTedMaterialMessage">{{deleTedMaterialMessage}}</text>
        <br>
        <button (click)="this.deleteSelectedRecord(record.id)" [title]="deleteButtonInfo" >x</button>
        <button (click)="updateSelectedRecord(record.id);" [title]="updateButtonInfo">u</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>










