
<div class="createOrUpdateFormWindow">
  <button id="close button" class="closeButton" (click)="closeAndGoBack() " [title]='generalNamesInSelectedLanguage.closeButtonDescription'>x</button>
  <h2>{{businessPartnerNamesInSelectedLanguage.addNewBusinessPartner}}</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="label" for="partnercode" >{{generalNamesInSelectedLanguage.code}}</label>
        <input type="text" class="form-control" formControlName="code" id="partnercode">
        <div  *ngIf="code.invalid && (code.dirty || code.touched)"
              class="alert alert-danger">

          <div class="validatorInfo" *ngIf="code.errors.required">
            <label
              class="text-danger">
              {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </label>

          </div>


        </div>
      </div>
        <div class="form-group col-md-6">
          <label class="label" for="businesPartnerCompanyName" >{{orderNames.businessPartnerName}}</label>
          <input type="text" class="form-control" formControlName="businesPartnerCompanyName" id="businesPartnerCompanyName">
          <div  *ngIf="businesPartnerCompanyName.invalid && (businesPartnerCompanyName.dirty || businesPartnerCompanyName.touched)"
                class="alert alert-danger">

            <div class="validatorInfo" *ngIf="businesPartnerCompanyName.errors.required">
              <label
                class="text-danger">
                {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
              </label>

            </div>


          </div>
        </div>
      <div class="form-group col-md-6">
        <label class="label" for="fullName" >{{businessPartnerNamesInSelectedLanguage.fullName}}</label>
        <input type="text" class="form-control" formControlName="fulName" id="fullName">
        <div  *ngIf="fulName.invalid && (fulName.dirty || fulName.touched)"
              class="alert alert-danger">

          <div class="validatorInfo" *ngIf="fulName.errors.required">
            <label
              class="text-danger">
              {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
            </label>

          </div>


        </div>
        </div>
        <div class="form-group col-md-6">
          <label class="label" for="email">{{businessPartnerNamesInSelectedLanguage.email}}</label>
          <input type="text" class="form-control" formControlName="email" id="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="email.errors.required">
              <label
                class="text-danger">
                {{generalNamesInSelectedLanguage.thisFieldIsRequired}}
              </label>

            </div>
            <div class="validatorInfo" *ngIf="email.errors?.taken">
              <label
                class="text-danger">
                {{businessPartnerNamesInSelectedLanguage.emailIsAlreadyTaken}}
              </label>


            </div>
            <div class="validatorInfo" *ngIf="email.errors.email">
              <label
                class="text-danger">
                {{businessPartnerNamesInSelectedLanguage.emailMustBeValid}}
              </label>


            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="password">{{businessPartnerNamesInSelectedLanguage.password}}</label>
          <input type="password" class="form-control" formControlName="password" id="password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="password.errors.required">
              {{businessPartnerNamesInSelectedLanguage.passwordIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="password.errors.minlength">
              {{businessPartnerNamesInSelectedLanguage.passwordMustContain8Characters}}
            </div>

            <div class="validatorInfo" *ngIf="password.hasError('hasNumber')">
              {{businessPartnerNamesInSelectedLanguage.passwordMustContain2Digest}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasCapitalCase')">
              {{businessPartnerNamesInSelectedLanguage.passwordMustContain1CapitalLetter}}
            </div>
            <div class="validatorInfo" *ngIf="password.hasError('hasSmallCase')">
              {{businessPartnerNamesInSelectedLanguage.passwordMustContain1smallLetter}}
            </div>
          </div>

        </div>
        <div class="form-group col-md-6">
          <label class="label" for="confirmPassword">{{businessPartnerNamesInSelectedLanguage.repeatPassword}}</label>
          <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
               class="alert alert-danger">

            <div class="validatorInfo" *ngIf="confirmPassword.errors.required">
              {{businessPartnerNamesInSelectedLanguage.repeatingPasswordIsRequired}}
            </div>
            <div class="validatorInfo" *ngIf="userForm.errors?.NoPassswordMatch">
              {{businessPartnerNamesInSelectedLanguage.noMatchBetweenPasswords}}
            </div>

          </div>

        </div>

        <div class="form-group col-md-6">
          <Span>
            <label for="active" class="label">{{businessPartnerNamesInSelectedLanguage.active}}</label><input type="checkbox" class="form-control" formControlName="active" id="active">
          </Span>

        </div>

    </div>
    <div class="addButon">
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-danger">{{generalNamesInSelectedLanguage.saveButtonDescription}}</button>
    </div>
  </form>

  <div *ngIf="operationStatusMessage">
    <textarea>{{operationStatusMessage}}</textarea>
  </div>
</div>






