
<!--sss-->

<div>

  <a  [routerLink]="['/businessPartners/add']" routerLinkActive="active">
    {{userNamesInSelectedLanguage.addNewBusinessPartner}}
  </a>
</div>

<div class="materialComponent">
  <app-operation-status [operationFailerStatusMessage]="operationFailerStatusMessage" [operationSuccessStatusMessage]="operationSuccessStatusMessage"> </app-operation-status>
  <app-confirm-delete [showConfirmDeleteWindow]="showConfirmDeleteWindow"  *ngIf="showConfirmDeleteWindow === true" (deleteConfirmedEvent)="deleteSelectedRecordFromDatabase(this.tableService.selectedId, $event )"> </app-confirm-delete>

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="partners" data-order="desc" data-name="code" scope="col"> {{userNamesInSelectedLanguage.partnerCode}} <br></th>
      <th [appSort]="partners" data-order="desc" data-name="businesPartnerCompanyName" scope="col"> {{userNamesInSelectedLanguage.partnerCompanyName}}</th>
      <th [appSort]="partners" data-order="desc" data-name="fulName" scope="col">{{userNamesInSelectedLanguage.fullName}}</th>
      <th [appSort]="partners" data-order="desc" data-name="email" scope="col">{{userNamesInSelectedLanguage.email}}</th>
      <th>Ilość</th>

    </tr>
    <tr>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="code"  [placeholder]="generalNamesInSelectedLanguage.search"/> </th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="businesPartnerCompanyName"  [placeholder]="generalNamesInSelectedLanguage.search"/>  </th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="fulName"  [placeholder]="generalNamesInSelectedLanguage.search"/></th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="email"  [placeholder]="generalNamesInSelectedLanguage.search"/></th>
      <th>{{recordNumbers}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let partner of partners; let i=index">
      <td>{{partner.code}}</td>
      <td>{{partner.businesPartnerCompanyName}}</td>
      <td>{{partner.fulName}}</td>
      <td>{{partner.email}}</td>
      <td>
        <br>
        <button (click)="changePaswordForUserId(partner.id)" [title]="userNamesInSelectedLanguage.changePassword">{{userNamesInSelectedLanguage.changePassword}}</button>
        <button (click)="updateSelectedRecord(partner.id);" [title]="generalNamesInSelectedLanguage.updateButtonInfo">{{generalNamesInSelectedLanguage.updateButtonInfo}}</button>
        <button [title]="setBlockButtonActionInfoMessage(partner)" (click)="blockOrUnblockUser(partner)">{{setBlockButtonStatusMessage(partner)}}</button>
        <button (click)="showOrders(partner.id);" [title]="userNamesInSelectedLanguage.businessPartnerOrders">{{userNamesInSelectedLanguage.businessPartnerOrders}}</button>
        <button (click)="this.selectRecordtoDeleteAndShowConfirmDeleteWindow(partner.id)" [title]="generalNamesInSelectedLanguage.deleteButtonInfo" >x</button>

      </td>

    </tr>
    </tbody>
  </table>
</div>









