
<!--sss-->

<div>

  <a  [routerLink]="['/businessPartners/add']" routerLinkActive="active">
    Dodaj Nowego Partner Handlowego
  </a>
</div>

<div class="materialComponent">

  <table class="table table-striped border mt-1">
    <thead>
    <tr>
      <th [appSort]="partners" data-order="desc" data-name="code" scope="col"> Kod <br></th>
      <th [appSort]="partners" data-order="desc" data-name="businesPartnerCompanyName" scope="col"> Nazwa Partnera Handlowego> </th>
      <th [appSort]="partners" data-order="desc" data-name="fulName" scope="col">Imię i nazwisko</th>
      <th [appSort]="partners" data-order="desc" data-name="email" scope="col">Email</th>
      <th>Ilość</th>

    </tr>
    <tr>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="code"  placeholder="Wyszukaj"/> </th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="businesPartnerCompanyName"  placeholder="Wyszukaj"/>  </th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="fulName"  placeholder="Wyszukaj"/></th>
      <th><input class="tableSearchInput" [appPartersSearch]="partners" serchedColumn="email"  placeholder="Wyszukaj"/></th>
      <th>{{recordNumbers}}</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let partner of partners; let i=index">
      <td>{{partner.code}}</td>
      <td>{{partner.businesPartnerCompanyName}}</td>
      <td>{{partner.fulName}}</td>
      <td>{{partner.email}}</td>
      <td>
        <br>
        <button (click)="changePaswordForUserId(partner.id)" [title]="'zmień hasło'">Zmień Hasło</button>
        <button (click)="updateSelectedRecord(partner.id);" [title]="updateButtonInfo">aktualizuj</button>
        <button [title]="setBlockButtonActionInfoMessage(partner)" (click)="blockOrUnblockUser(partner)">{{setBlockButtonStatusMessage(partner)}}</button>
        <button (click)="showOrders(partner.id);" [title]="'Zapytania o indeks worka'">zapytania</button>
        <button (click)="this.deleteSelectedRecord(partner.id)" [title]="deleteButtonInfo" >x</button>

      </td>

    </tr>
    </tbody>
  </table>
</div>









