.mainContainerClass {

  position: absolute;

  border: 5px solid #FFFF00;
  top: 300px;
  left: 300px;
  z-index: 10;

  padding: 10px;

}
.drawingContainerClass {
  /* background-image: url('W702L_V_prawie_ostateczna.png');*/
  position: absolute;
  z-index: 20;


}
/**/
.dimensionInputHorizontal {

  width: auto;
  height: 20px;
  white-space: nowrap;
  overflow-x: auto;
  resize: horizontal;
}

#tableContainer {

}
#createFormContainer {

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
