#mainContainer {

}
#drawingContainer {
  /* background-image: url('W702L_V_prawie_ostateczna.png');*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 800px;
  height: 600px;

}
/**/
.dimensionInputHorizontal {

  width: auto;
  height: 20px;
  white-space: nowrap;
  overflow-x: auto;
  resize: horizontal;
}

#tableContainer {

}
#createFormContainer {

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
