.material-icons {
  display: inline-flex;
  vertical-align: middle;
}/* You can add global styles to this file, and also import other style files */
.createMaterial {
  position: absolute;


  left: 50%;


  top: 50%;


  transform: translate(-50%, -50%);


  border: 5px solid #FFFF00;


  padding: 10px;
}
.closeButton {
  position: absolute;
  left: 94%;
  top: 0%;
}
.addButon {
  position: relative;
  left: 40%;
  bottom: 10%;

}
#materialCodeLabel {
  width: max-content;
}
.form-control {
  position: relative;
  width: max-content;
}
.label {
  position: relative;
  width: max-content;
}
.validatorInfo {
  position: relative;
  width: max-content;
}
.tableSearchInput {

}
.deleteButton {

}
.updateButton {

}

.showDrawing {

}
.confirmOrChangeButton {

}

