<div id="productMiniatureContainer">

  <p> Wybierz product klikając w na wybrany rysunek</p>

<div id="drawingAndDescriptionContainer" *ngFor="let product of products" (click)="selectProductAndNavigateBack(product)">


  <p> {{'Typ produktu: '+product.productType.code + ' - '+ getNameInSelectedLanguage(product.productType.localizedNames)}}</p>
  <p>{{'Typ wykończenia góry: '+  product.productTop.code +' - '+ getNameInSelectedLanguage(product.productTop.localizedNames)}}</p>
  <p>{{'Typ wykończenia dna: '+product.productBottom.code + ' - '+ getNameInSelectedLanguage(product.productBottom.localizedNames)}}</p>

  <img id="productMiniature" [src]="getDrawingUrl(product)" >
</div>
</div>
